{% load static %}
<!DOCTYPE html>
<html>
    <title>BuyIt</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device.width, initial_scale=1, shrink_to_fit=no">
    <link rel="icon" href='{% static "img/B2.png" %}' type="image/x-icon">
    {% include "base/css.html" %}
    <body>
        {% include "base/navbar.html" %}
        {% block content %}{% endblock %}
        {% include "base/js.html" %}
        <div class="footer" style="background-color: #C4C4C4; width: 100%; padding: 45px; text-align: center; margin: 0;">
            <p style="margin-bottom: 0;font-size: 1.2vw;">
                BuyIt - An Exclusive Purchase Paradise <br>
                DBMS Project by Harshith Diwakar
            </p>
        </div>
    </body>
</html>